
body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/ricepaper.png');
    margin: 0 auto;
    width: 960px;
    }
.navigationbar{
    overflow:hidden;
    background-color:#ffffff;
    padding: 20px 10px;
    width:960px;
}

.navigationbar a{
        float: left;
        color: black;
        text-align: center;
        padding: 50px;
        font-size: 18px; 
        line-height: 25px;
        border-radius: 4px;
      }
.name {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-weight:bold;
    float:left;
}

.right-pane {
    color:black;
    font-size: 20px;
    background-color: #ffffff;
    float:none;;
    width: 100%;
    margin-left: 50px;
    padding-left: 80px;
} 

.bio-image {
    height: 300px;
    width : 200px;
    float: left;
    margin: 20px;
    
}

.bio-info, .contact-info{
    color:  #777777;
    font-family: Arial, Helvetica, sans-serif;  

}

.bio-info  {
    float: right;
    margin: 0px;
    background-color: white;
    width: 960px;
    margin-top: 10px;
    float:left;
    padding: 20px 10px;
}
h3 {            
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.contact-info {
    float: right;
    margin: 0px;
    background-color: white;
    width: 960px;
    margin-top: 10px;
    float:left;
    padding: 20px 10px;
    height: 350px;
}
button{
    background:#4aaaa5;
    height:25px;
}

img {
    width: 100px;
    height:100px;
}

.container{
    background-color: white;
    width: 960px;
    height: 500px;
    position: relative;
    border: 5px solid green;
}
.column{
    float:left;
    width: 25%;
    padding: 10px;
}
.box6{
    background:#4aaaa5;
    width:100px;

}
.footer {
    background-color: #777777;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top: solid #4aaaa5 10px;
    padding: 20px;

}