.navigationbar {
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    padding: 20px;
    margin: 20px;
}

a{
    float:right;
    color:black;
    font-size: 20px;
    margin: 10px;
} 

.bio-image {
    height: 300px;
    width : 200px;
    float: left;
    margin: 20px;
}

.bio-info  {
    float: right;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}